*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Bebas Neue',sans-serif;
color:white;
background:#000;
overflow-x:hidden;
}

body::before{
content:"";
position:fixed;
width:100%;
height:100%;
background:
linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.9)),
url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee");
background-size:cover;
z-index:-1;
}

/* LOADER */

#loader{
position:fixed;
width:100%;
height:100%;
background:black;
display:flex;
justify-content:center;
align-items:center;
z-index:999;
color:#7CFC00;
font-size:2rem;
}

/* BOTÃO (COMEÇA ESCONDIDO) */

button{
display:none;

position:fixed;
bottom:20px;
left:50%;
transform:translateX(-50%);

background:#556B2F;

padding:18px 50px;

font-size:1.4rem;

border:none;
border-radius:8px;

color:white;

cursor:pointer;

z-index:1000;

box-shadow:0 0 20px #7CFC00;

animation:pulse 1.5s infinite;
}

@keyframes pulse{
0%{transform:translateX(-50%) scale(1)}
50%{transform:translateX(-50%) scale(1.08)}
100%{transform:translateX(-50%) scale(1)}
}

.overlay{
padding:30px;
text-align:center;
}

.logo{
width:160px;
}

h1{
font-size:3.5rem;
color:#D6C7A1;
}

.frase{
margin-bottom:30px;
}

/* CONTADOR */

.contador{
display:flex;
justify-content:center;
gap:15px;
flex-wrap:wrap;
}

.tempo{
background:#2F3E1F;
padding:20px;
border-radius:10px;
}

.tempo span{
font-size:2.5rem;
color:#7CFC00;
}

.barra-tempo{
margin-top:20px;
background:#333;
height:10px;
border-radius:10px;
overflow:hidden;
}

#progressoTempo{
height:100%;
background:#7CFC00;
width:0%;
transition:1s;
}

/* SEÇÕES */

section{
margin-top:80px;
opacity:0;
transform:translateY(40px);
transition:0.6s;
}

section.show{
opacity:1;
transform:translateY(0);
}

section h2{
color:#7CFC00;
margin-bottom:10px;
}

.preco{
font-size:2.5rem;
color:#7CFC00;
}

/* KIT */

.kit-container{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
}

.kit-item{
background:#2F3E1F;
padding:20px;
border-radius:10px;
}

.kit-item img{
width:120px;
}

ul{
list-style:none;
}

/* FOOTER */

.footer{
margin-top:80px;
padding:20px;
font-size:0.9rem;
color:#aaa;
}

.footer span{
color:#7CFC00;
}

/* RESPONSIVO */

@media(max-width:700px){
h1{font-size:2rem;}
}